body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background-color: #bfbfbf;
  }
  
  .login-container {
    background-color: #6e6868;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Added box shadow */
    width: 45vh;
    height: 55vh;
  }

  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-weight: bold;
    text-align: center;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #000; /* Changed to black */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333; /* Darken on hover */
  }